/* Header */

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    // background-color: black;

    .logo {
        width: 50vw;
    }

    nav {
        background-color: black;
        width: 50vw;
    };

    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: center;
        
        li {
            padding: 2rem;
            color: white;

            
        }
    }
}

