
.blog-inicio {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    row-gap: 3rem;
    
    margin: 8rem 0;
    
    // align-items: center;

    div {
        height: 40rem;
        width: 30rem;
        border: 3px solid black;
        text-align: center;
    }
}